body

  {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/0e/62/62/df/london.jpg");
}


div {
background-color: lightgrey;
width: 300px;
border: 25px solid green ;
padding: 25px;
margin: 25px;
color: blue;

}

#london {
  color: red;
}
